.Main {
  display: flex;
  flex-direction: row;
  flex: 1 1;
}

.Main-left {
  flex: 0 0 320px;
  background: #ccc;
  box-shadow: 3px 0px 6px #b5b5b5;
  border-right: 1px solid #aaa;
}

.Main-right {
  flex: 1 1;
}


